<div class="flex items-center justify-center min-h-screen bg-white">
    <div class="w-full max-w-sm bg-white p-6 shadow-md rounded-md border border-gray-300">
        <img class="w-30 h-30 mx-auto" src="assets/img/logo_1.svg" alt="Logo">
        <br />
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <div class="mb-4">
                <label for="nombreUsuario" class="block text-gray-700">Usuario</label>
                <input type="text" id="nombreUsuario" formControlName="nombreUsuario"
                    class="mt-1 w-full border-2 border-gray-400 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500': f['nombreUsuario'].invalid && f['nombreUsuario'].dirty}" />

                @if (f['nombreUsuario'].invalid && f['nombreUsuario'].dirty) {
                @if (f['nombreUsuario'].errors?.['required']) {
                <p class="text-red-500 text-sm mt-1">El usuario es obligatorio.</p>
                }
                }
            </div>

            <div class="mb-6">
                <label for="password" class="block text-gray-700">Contraseña</label>
                <input type="password" id="password" formControlName="password"
                    class="mt-1 w-full border-2 border-gray-400 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500': f['password'].invalid && f['password'].dirty}" />

                @if (f['password'].invalid && f['password'].dirty) {
                @if (f['password'].errors?.['required']) {
                <p class="text-red-500 text-sm mt-1">La contraseña es obligatoria.</p>
                }
                }
            </div>

            @if (generalError) {
            <p class="text-red-500 text-center mb-4">{{ generalError }}</p>
            }

            <button type="submit" [disabled]="loginForm.invalid || isLoading"
                class="w-full bg-green-600 text-white py-2 rounded-md hover:bg-green-700 transition-colors disabled:opacity-50 disabled:cursor-not-allowed">
                @if (isLoading) {
                <span>Cargando...</span>
                } @else {
                <span>Iniciar sesión</span>
                }
            </button>

        </form>
    </div>
</div>