<div class="p-6 space-y-10">
    <!-- Datos del Cliente -->
    <div class="space-y-4">
        <div class="flex items-center gap-4">
            <h2 class="text-2xl font-bold">Crear cliente</h2>
        </div><br />
        <form [formGroup]="CrearCliente" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <label class="block mb-1 font-medium">Nombre/Razón social</label>
                    <input formControlName="nombreCliente" type="text" class="w-full border p-2 rounded-md" [ngClass]="{
                               'border-red-500 border-2': f['nombreCliente'].invalid && (f['nombreCliente'].dirty || f['nombreCliente'].touched),
                               'border-green-500 border-2': f['nombreCliente'].valid && (f['nombreCliente'].dirty || f['nombreCliente'].touched)
                           }" />
                    @if (f['nombreCliente'].invalid && (f['nombreCliente'].dirty || f['nombreCliente'].touched)) {
                    @if (f['nombreCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">El nombre es requerido.</p>
                    } @else if (f['nombreCliente'].errors?.['minlength']) {
                    <p class="text-red-500 text-sm mt-1">El nombre debe tener al menos 3 caracteres.</p>
                    }
                    }
                </div>
                <div>
                    <label class="block mb-1 font-medium">CIF</label>
                    <input formControlName="cifCliente" type="text" class="w-full border p-2 rounded-md" [ngClass]="{
                               'border-red-500 border-2': f['cifCliente'].invalid && (f['cifCliente'].dirty || f['cifCliente'].touched),
                               'border-green-500 border-2': f['cifCliente'].valid && (f['cifCliente'].dirty || f['cifCliente'].touched)
                           }" />

                    @if (f['cifCliente'].invalid && (f['cifCliente'].dirty || f['cifCliente'].touched)) {
                    @if (f['cifCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">El CIF es requerido.</p>
                    } @else if (f['cifCliente'].errors?.['pattern']) { <p class="text-red-500 text-sm mt-1">El formato
                        del CIF no es válido (Ej: A1234567Z).</p>
                    }
                    }
                </div>
                <div>
                    <label class="block mb-1 font-medium">Tipo de cliente</label>
                    <select formControlName="tipoCliente" class="w-full border p-2 rounded-md" [ngClass]="{
                               'border-red-500 border-2': f['tipoCliente'].invalid && (f['tipoCliente'].dirty || f['tipoCliente'].touched),
                               'border-green-500 border-2': f['tipoCliente'].valid && (f['tipoCliente'].dirty || f['tipoCliente'].touched)
                           }">
                        <option value="">Selecciona una opción</option>
                        <option value="Empresa">Empresa</option>
                        <option value="Autonomo">Autónomo</option>
                    </select>
                    @if (f['tipoCliente'].invalid && (f['tipoCliente'].dirty || f['tipoCliente'].touched)) {
                    @if (f['tipoCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">Tienes que seleccionar una opción válida</p>
                    }
                    }
                </div>

                <div>
                    <label class="block mb-1 font-medium">Correo electrónico</label>
                    <input type="email" formControlName="emailCliente" class="w-full border p-2 rounded-md" [ngClass]="{
                               'border-red-500 border-2': f['emailCliente'].invalid && (f['emailCliente'].dirty || f['emailCliente'].touched),
                               'border-green-500 border-2': f['emailCliente'].valid && (f['emailCliente'].dirty || f['emailCliente'].touched)
                           }" />

                    @if (f['emailCliente'].invalid && (f['emailCliente'].dirty || f['emailCliente'].touched)) {
                    @if (f['emailCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">El email es requerido.</p>
                    } @else if (f['emailCliente'].errors?.['email']) {
                    <p class="text-red-500 text-sm mt-1">El formato del email no es correcto.</p>
                    }
                    }
                </div>
                <div>
                    <label class="block mb-1 font-medium">Dirección</label>
                    <input type="text" formControlName="direccionCliente" class="w-full border p-2 rounded-md"
                        [ngClass]="{
                               'border-red-500 border-2': f['direccionCliente'].invalid && (f['direccionCliente'].dirty || f['direccionCliente'].touched),
                               'border-green-500 border-2': f['direccionCliente'].valid && (f['direccionCliente'].dirty || f['direccionCliente'].touched)
                           }" />
                    @if (f['direccionCliente'].invalid && (f['direccionCliente'].dirty ||
                    f['direccionCliente'].touched)) {
                    @if (f['direccionCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">La dirección es requerida.</p>
                    } @else if (f['direccionCliente'].errors?.['minlength']) {
                    <p class="text-red-500 text-sm mt-1">La dirección debe tener al menos 4 caracteres.</p>
                    }
                    }
                </div>
                <div>
                    <label class="block mb-1 font-medium">Ciudad</label>
                    <input type="text" formControlName="ciudadCliente" class="w-full border p-2 rounded-md" [ngClass]="{
                               'border-red-500 border-2': f['ciudadCliente'].invalid && (f['ciudadCliente'].dirty || f['ciudadCliente'].touched),
                               'border-green-500 border-2': f['ciudadCliente'].valid && (f['ciudadCliente'].dirty || f['ciudadCliente'].touched)
                           }" />
                    @if (f['ciudadCliente'].invalid && (f['ciudadCliente'].dirty || f['ciudadCliente'].touched)) {
                    @if (f['ciudadCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">La ciudad es requerida.</p>
                    } @else if (f['ciudadCliente'].errors?.['minlength']) {
                    <p class="text-red-500 text-sm mt-1">La ciudad debe tener al menos 4 caracteres.</p>
                    }
                    }
                </div>
                <div>
                    <label class="block mb-1 font-medium">Provincia</label>
                    <input type="text" formControlName="provinciaCliente" class="w-full border p-2 rounded-md"
                        [ngClass]="{
                               'border-red-500 border-2': f['provinciaCliente'].invalid && (f['provinciaCliente'].dirty || f['provinciaCliente'].touched),
                               'border-green-500 border-2': f['provinciaCliente'].valid && (f['provinciaCliente'].dirty || f['provinciaCliente'].touched)
                           }" />
                    @if (f['provinciaCliente'].invalid && (f['provinciaCliente'].dirty ||
                    f['provinciaCliente'].touched)) {
                    @if (f['provinciaCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">La provincia es requerida.</p>
                    } @else if (f['provinciaCliente'].errors?.['minlength']) {
                    <p class="text-red-500 text-sm mt-1">La provincia debe tener al menos 9 caracteres.</p>
                    }
                    }
                </div>
                <div>
                    <label class="block mb-1 font-medium">Teléfono</label>
                    <input type="text" formControlName="telefonoCliente" class="w-full border p-2 rounded-md" [ngClass]="{
                               'border-red-500 border-2': f['telefonoCliente'].invalid && (f['telefonoCliente'].dirty || f['telefonoCliente'].touched),
                               'border-green-500 border-2': f['telefonoCliente'].valid && (f['telefonoCliente'].dirty || f['telefonoCliente'].touched)
                           }" />
                    @if (f['telefonoCliente'].invalid && (f['telefonoCliente'].dirty ||
                    f['telefonoCliente'].touched)) {
                    @if (f['telefonoCliente'].errors?.['required']) {
                    <p class="text-red-500 text-sm mt-1">El teléfono es requerida.</p>
                    } @else if (f['telefonoCliente'].errors?.['pattern']) {
                    <p class="text-red-500 text-sm mt-1">El formato del teléfono no es válido (Ej: +34600123456).</p>
                    }
                    }
                </div>

            </div>
            <div class="flex justify-center mt-10">
                <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
                    Crear cliente
                </button>
            </div>
        </form>
    </div>

</div>