<div class="flex h-screen bg-gray-100">
    <!-- Menú lateral -->
    <div class="w-66 bg-gray-200 text-black p-4 flex flex-col justify-between h-full">
        <div>
            <div class="text-xl font-semibold mb-6 flex items-center justify-center">
                <img class="w-24 h-24" src="assets/img/autonomax-logo1.svg" alt="Logo">
            </div>
            <ul class="space-y-4">
                <li>
                    <a routerLink="/inicio" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-400 rounded">
                        <img src="assets/img/inicio.svg" alt="Inicio" class="w-5 h-5" />
                        Inicio
                    </a>
                </li>
                <li>
                    <a routerLink="/clientes" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-400 rounded">
                        <img src="assets/img/clientes.svg" alt="Clientes" class="w-5 h-5" />
                        Clientes
                    </a>
                </li>
                <li>
                    <a routerLink="/proveedores" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-400 rounded">
                        <img src="assets/img/clientes.svg" alt="Proveedores" class="w-5 h-5" />
                        Proveedores
                    </a>
                </li>
                <li>
                    <a routerLink="/facturas" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/facturas.svg" alt="Facturas" class="w-5 h-5" />
                        Facturas
                    </a>
                </li>
                <li>
                    <a routerLink="/gastos" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/gastos.svg" alt="Gastos" class="w-5 h-5" />
                        Gastos
                    </a>
                </li>
                <li>
                    <a routerLink="/estadisticas" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/estadisticas.svg" alt="Estadísticas" class="w-5 h-5" />
                        Estadísticas
                    </a>
                </li>
                <li>
                    <a routerLink="/tesoreria" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/tesoreria.svg" alt="Tesorería" class="w-5 h-5" />
                        Tesorería
                    </a>
                </li>
                <li>
                    <a routerLink="/agenda" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/agenda.svg" alt="Agenda" class="w-5 h-5" />
                        Agenda/Calendario
                    </a>
                </li>
                <li>
                    <a routerLink="/exportar" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/exportar.svg" alt="Exportar" class="w-5 h-5" />
                        Exportar datos
                    </a>
                </li>
                <li>
                    <a routerLink="/notificaciones" routerLinkActive="bg-gray-300"
                        class="flex items-center gap-2 py-2 px-2 hover:bg-gray-300 rounded">
                        <img src="assets/img/alertas.svg" alt="Notificaciones" class="w-5 h-5" />
                        Alertas y notificaciones
                    </a>
                </li>
            </ul>
        </div>

        <!-- Cerrar Sesión y Ajustes -->
        <div class="pt-4 border-t border-gray-400 mt-4">
            <a routerLink="/ajustes"
                class="flex items-center gap-2 py-2 justify-center bg-black text-white rounded hover:bg-gray-800">
                <img src="assets/img/ajustes.svg" alt="Ajustes" class="w-5 h-5" />
                Ajustes
            </a>
            <br>
            <button type="button" (click)="logout()"
                class="flex mb-2 items-center gap-2 py-2 px-12 justify-center bg-red-800 text-white rounded hover:bg-red-700 cursor-pointer">
                <img src="assets/img/cerrar-sesion.png" alt="Icono de cerrar sesión" class="w-5 h-5" />
                Cerrar Sesión
            </button>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="flex-1 p-6 overflow-auto">
        <router-outlet></router-outlet>
    </div>
</div>